<div class="page-header">
  <h1>Welcome to Calculator page</h1>
</div>
<div *ngIf="!result && !invalidAction">
  <form name="form" #f="ngForm" (ngSubmit) = "f.form.valid && onSubmit()">
    <div class="form-group">
      <label>Numbers</label>
      <input class="form-control" id="numbers" name="numbers" [(ngModel)]="calcModel.numberList" placeholder="Enter numbers separated by a single space" #numbers = "ngModel" [ngClass]="{ 'is-invalid': f.submitted && numbers.invalid }" required>
      <div *ngIf="f.submitted && numbers.invalid" class="invalid-feedback"></div>
      <div *ngIf="f.submitted && numbers.errors?.required" class="alert alert-danger">Numbers are required</div>
    </div>
    <div class="form-group">
      <label>Operation</label>
      <input class="form-control" id="operations" name="operations" [(ngModel)]="calcModel.operations" placeholder="Enter an operation(Average or Sum)" #operations = "ngModel" [ngClass]="{ 'is-invalid': f.submitted && operations.invalid }" required>
      <div *ngIf="f.submitted && operations.errors?.required" class="alert alert-danger">Operation is required</div>
      <div *ngIf="f.submitted && operations.invalid" class="invalid-feedback"></div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div>
  <table class="table table-striped table-bordered" *ngIf="result">
    <tr>
      <td>Numbers: </td>
    </tr>
    <tr>
      <td>{{calcModel.numberList}}</td>
    </tr>
    <tr *ngIf="isSum">
      <td>
        Sum:
      </td>
    </tr>
    <tr *ngIf="isSum">
      <td>
        {{sum}}
      </td>
    </tr>
    <tr *ngIf="isAverage">
      <td>
          Average:
      </td>
    </tr>
    <tr *ngIf="isAverage">
      <td>
        {{average}}
      </td>
    </tr>
    <tr>
      <td><button type="button" class="btn btn-secondary" (click)="reset()">Back To Calculator</button></td>
    </tr>
  </table>
  <table class="table table-striped table-bordered" *ngIf="invalidAction">
    <tr>
      <td class="alert alert-danger">Error !</td>
    </tr>
    <tr>
      <td class="alert alert-danger">{{invalidMessage}}</td>
    </tr>
    <tr>
      <td><button type="button" class="btn btn-secondary" (click)="reset()">Back To Calculator</button></td>
    </tr>
  </table>
</div>


